{{ define "main" }}
  {{ if not .IsHome }}
    <h1>{{ .Title | markdownify }}</h1>
  {{ end }}

  {{ .Content }}

  <div class="list-page">
    <ul>
      {{/* Filter pages that have a non-empty Section and sort them by Date descending */}}
      {{ $pages := sort (where .Pages "Section" "!=" "") "Date" "desc" }}
      {{ range $pages }}
        <li>
          {{ if ne .Parent.Params.show_date false }}
            <span class="date">{{ .Date.Format "01-02" }}</span>
          {{ end }}
          <div class="post-info">
            <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
            {{ if .Params.summary }}
              <span class="summary">{{ .Params.summary }}</span>
            {{ end }}
          </div>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}