{{ define "main" }}
  {{ $tocItems := findRE "<a href=" .TableOfContents }}
  {{ $showTOC := and (ge .WordCount 1200) (ge (len $tocItems) 4) }}
  {{ if isset .Params "toc" }}
    {{ $tocSetting := printf "%v" .Params.toc }}
    {{ if ne $tocSetting "" }}
      {{ $showTOC = eq $tocSetting "true" }}
    {{ end }}
  {{ end }}
  {{ $tocHTML := .TableOfContents | replaceRE `id="TableOfContents"` `class="article-outline__links"` | safeHTML }}

  <link rel="stylesheet" href="{{ "css/article.css" | relURL }}">

  <article class="article-page">
    <div class="article-meta">
      <h1><span class="title">{{ .Title | markdownify }}</span></h1>
      {{ if .Date }}
        <time class="date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
          {{ .Date.Format "January 2, 2006" }}
        </time>
      {{ end }}
    </div>

    {{ if $showTOC }}
      <aside class="article-outline" aria-labelledby="article-outline-title">
        <h2 id="article-outline-title">Article Outline</h2>
        {{ $tocHTML }}
      </aside>
    {{ end }}

    <div class="content article-content">
      {{ .Content }}
    </div>
  </article>
{{ end }}
